@import '_includes';
@import '_reset';
@import '_fonts';

body {
    padding: 0 0 200px 0;
    background: url('../assets/background-water.png') repeat-x left bottom, $color-background;
    color: $color-text;
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1;
}

header {
    display: flex;
    justify-content: center;
    padding: $padding $padding $margin $padding;

    img {
        margin: 0 $padding 0 0;
        width: 250px;
    }

    h1 {
        align-self: center;
        margin: 0;
        max-width: 150px;
        font-size: 48px;;
    }
}

main {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    margin: 0 0 $margin 0;
    font-family: 'Fink';
    font-size: 72px;
    text-align: center;
    color: $color-brown;
}

h2 {
    margin: 0 0 $margin 0;
    font-family: 'Fink';
    font-size: 36px;
    text-align: center;
    color: $color-brown;
}

img {
    display: block;
    margin: 0 0 $margin 0;
    max-width: 100%;

    &.house {
        border-top: solid 5px $color-primary;
        border-bottom: solid 5px $color-primary;
        width: 800px;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

form {
    margin: 0 0 $margin 0;

    input[type='text'] {
        display: block;
        margin: 0 0 $padding 0;
        outline: none;
        width: 100%;
        border: none;
        border-bottom: dotted 5px $color-primary-light;
        padding: $padding 0;
        background: none;
        font-family: $font-primary;
        font-size: 18px;
        line-height: 1;
        color: $color-text;

        &:focus {
            border-bottom-style: solid;
            border-bottom-color: $color-primary;
        }
    }

    ::placeholder {
        color: $color-primary-light;
    }

    input[type='radio'] {
        display: none;

        + label {
            display: block;
            margin: 0 0 $padding 0;
            box-shadow: 4px 5px 4px -1px rgba(0, 0, 0, 0.29);
            border-radius: $border-radius;
            padding: $padding;
            background: $color-primary;
            text-align: center;
            color: $color-white;
            cursor: pointer;

            &:hover {
                box-shadow: none;;
                background: $color-primary-light;
            }
        }

        &[disabled] + label {
            box-shadow: none;
            opacity: $opacity-disabled;
            cursor: no-drop;

            &:hover {
                background: $color-primary;
            }
        }
    }

    ul {
        margin: 0 0 $margin 0;
    }
}

.textbox {
    position: relative;

    &__auto-complete {
        position: absolute;
        top: 64px;
        width: 100%;
        box-shadow: 6px 7px 6px -1px rgba(0, 0, 0, 0.29);
        border: solid 5px $color-primary;
        background: $color-white;

        ul {
            margin: 0;
        }

        li {
            padding: ($padding / 2) $padding;
            cursor: pointer;

            &:hover {
                background: $color-green;
            }
        }
    }
}

button {
    display: block;
    margin: 0 0 $margin 0;
    width: 100%;
    outline: none;
    box-shadow: 4px 5px 4px -1px rgba(0, 0, 0, 0.29);
    border-radius: $border-radius;
    border: none;
    padding: 1.5 * $padding;
    background: $color-primary;
    font-family: 'Fink';
    font-size: 26px;
    line-height: 1;
    color: $color-white;
    text-align: center;
    cursor: pointer;

    &[disabled] {
        opacity: $opacity-disabled;
        box-shadow: none;
        cursor: no-drop;
    }

    &:not([disabled]):hover {
        box-shadow: none;
        background: $color-primary-light;
    }
}

.container {
    display: flex;
    flex-direction: column;
    padding: $padding;
}

.statistics {
    margin: 0 0 $margin 0;
}

.counter {
    display: block;
    margin: 0 0 $padding 0;
    border-radius: $border-radius;
    padding: $padding;
    background: $color-secondary;
    color: $color-primary;
    text-align: center;

    &__number {
        display: block;
        margin: 0 0 10px 0;
        font-family: 'Fink';
        font-size: 32px;
        font-weight: 700;
    }

    &__label {
        font-weight: 600;
        line-height: 1;
    }
}

.previous-villager {
    display: block;
    margin: 0 0 $margin 0;
    width: 100%;
    border-radius: $border-radius;
    padding: $padding;
    background: $color-primary-light;
    text-align: center;

    span {
        display: inline-block;
        margin-right: 5px;
        font-weight: 600;
    }
}

.game-completed {
    font-family: 'Fink';
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    p {
        margin: 0 0 $margin 0;
    }
}

footer {
    position: relative;
    top: 120px;
    opacity: $opacity-disabled;
    font-size: 14px;
    text-align: center;
    color: $color-white;
}

@include responsive-tablet {
    header {
        img {
            width: 300px;
        }

        h1 {
            max-width: none;
            font-size: 72px;;
        }
    }

    .container {
        flex-direction: row;
    }

    img.house {
        border: solid 5px $color-primary;
    }

    .statistics {
        margin: 0;
        width: 30%;
    }

    .game {
        flex-grow: 1;
        padding-right: $margin;
    }
}